body {
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: rgb(140, 157, 230);
}

.main-game {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genius {
  display: grid;
  grid-template-areas:
    "verde vermelho"
    "amarelo azul";
  grid-gap: 10px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 100%;
  width: 600px;
  height: 600px;
}

.blue {
  grid-area: azul;
  background-color: blue;
  border-bottom-right-radius: 100%;
}
.red {
  grid-area: vermelho;
  background-color: red;
  border-top-right-radius: 100%;
}
.yellow {
  grid-area: amarelo;
  background-color: yellow;
  border-bottom-left-radius: 100%;
}
.green {
  grid-area: verde;
  background-color: green;
  border-top-left-radius: 100%;
}

.selected {
  opacity: 0.4;
}

#geniusLogo {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 30px;
}

input[type="checkbox"] {
  width: 100px;
  height: 40px;
  background: rgb(49, 69, 248);
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: 0.4s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input:checked[type="checkbox"] {
  background: #13a500;
}

input[type="checkbox"]::before {
  position: absolute;
  content: "";
  left: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input:checked[type="checkbox"]::before {
  left: 62px;
}

.toggle {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 30px;
}

label {
  position: absolute;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  pointer-events: none;
}

.onbtn {
  bottom: 15px;
  left: 15px;
}

.offbtn {
  bottom: 15px;
  right: 15px;
  color: #fff(255, 0, 179);
}
